# Python: 変数とデータの種類

## 変数

In [1]:
x = 5

In [2]:
x

5

In [3]:
y = 8

In [4]:
y

8

In [5]:
print(y)

8

In [6]:
# 1行で複数定義する場合()をつけた方がわかりやすい
x, y = (1, 2)

In [7]:
y

2

In [8]:
# 数を揃えないとエラーになる
x, y = (1, 2, 3)

ValueError: too many values to unpack (expected 2)

## 数字とブール変数

In [9]:
x1 = 5
x1

5

In [10]:
# データの種類を調べる
type(x1)

int

In [11]:
# intはinteger(整数)型

In [12]:
x2 = 4.75

In [13]:
type(x2)

float

In [14]:
# floatは小数型

In [15]:
# 小数型を整数型に変更
int(x2)

4

In [16]:
# 整数型を小数型に変更
float(x1)

5.0

In [17]:
x3 = True

In [18]:
type(x3)

bool

In [19]:
# Trueは大文字にする必要がある
x3 = true

NameError: name 'true' is not defined

In [20]:
x4 = False

In [21]:
x4

False

## 文字列

In [22]:
George

NameError: name 'George' is not defined

In [23]:
'George'

'George'

In [24]:
"George"

'George'

In [25]:
print('George')

George

In [26]:
print("George")

George

In [27]:
# 変数に文字列を割り当てる
x4 = 'George'

In [28]:
x4

'George'

In [29]:
# 数値と文字列はつなげて出力できない
y = 10
print(y + 'Dollers')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
# 文字列型に変更してつなげる
y = 10
print(str(y) + 'Dollers')

10Dollers

In [31]:
# 文字列内に 'があるときは "で囲む
'I'm fine'

SyntaxError: invalid syntax (<ipython-input-31-179eb7a41b3e>, line 2)

In [32]:
"I'm fine"

"I'm fine"

In [33]:
# \（エスケープシークエンス）を入れることで ' のまま入力できる
'I\'m fine'

"I'm fine"

In [34]:
'Press "Enter"'

'Press "Enter"'

In [35]:
'Red''car'

'Redcar'

In [36]:
# 離して出力するにはprint関数を使う
print('Red', 'car')

Red car

# Python: 基本的なPythonの文法

## 算術演算子

In [37]:
1 + 2

3

In [38]:
3 - 5

-2

In [39]:
3 * 5

15

In [40]:
15 / 3

5.0

In [41]:
type(15/3)

float

In [42]:
16 % 3 # 16/3の余り

1

In [43]:
x = 5 * 3

In [44]:
x

15

In [45]:
5 ** 3

125

## ==

In [46]:
y = 5 ** 3

In [47]:
y

125

In [48]:
y == 125

True

In [49]:
y == 126

False

## 変数の再割り当て

In [50]:
z = 1
z

1

In [51]:
z = 3
z

3

In [52]:
z + 5

8

In [53]:
z = 7
z

7

In [54]:
3 + 5

8

In [55]:
# int型とstr型は計算できない
3 + '5'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [56]:
# int型とfloat型は計算でき、float型で出力される
3 + 5.0

8.0

## コメント

In [57]:
# ハッシュの後ろは認識されない
print(7, 2)

7 2

In [58]:
# コメント1
# コメント2
print(1)

1

## 文章を継続させる場合

In [59]:
2.5 * 1.5 + 1

4.75

In [60]:
# \を打つことで改行しても1行として認識される
2.5 * 1.5 \
+ 1

4.75

## 要素のインデックス

In [61]:
# Fは0番目
'Friday'[3]

'd'

In [62]:
'Friday'[4]

'a'

## インデント

In [63]:
def five(x):
    x = 5
    return x
    print(five(3))

In [64]:
# print関数をfive()内のインデントに合わせてしまったため、出力されなかった

In [65]:
def five(x):
    x = 5
    return x
print(five(3))

5

# Python: 演算子

## 比較演算子

In [66]:
10 == 20 / 2 # 20/2は10と等しい　→ True

True

In [67]:
10 != 10 # 10と10は同じではない　→ False

False

In [68]:
10 != 15

True

In [69]:
100 > 50

True

In [70]:
100 < 50

False

In [71]:
15 >= 10 + 10

False

In [72]:
15 >= 10 + 5

True

## 論理演算子

In [73]:
True and True # and: 双方がTrueならTrueを返す

True

In [74]:
True and False # 片方がTrueでないためFalseを返す

False

In [75]:
False and False

False

In [76]:
False or False # or: どちらかがTrueならTrueを返す

False

In [77]:
False or True

True

In [78]:
True or True

True

In [79]:
not True

False

In [80]:
not False

True

In [81]:
3 > 5 and 10 <= 20 # 3>5はFalse、10<=20はTrue、片方がTrueでないのでFalseを返す

False

In [82]:
True and not True

False

In [83]:
False or not True and True # not → and → or の順で処理が進行する

False

In [84]:
True and not True or True

True

# Python: 条件文

## if文

In [85]:
if 5 == 15/3:
    print('Hooray!')

Hooray!

In [86]:
if 5 == 18/3:
    print('Hooray!')

In [87]:
if 5 != 3*6:
    print('Hooray!')

Hooray!

## else文

In [88]:
x = 1

if x > 3:
    print('case 1')
if x <= 3:
    print('case 2')

# これだと書きにくい

case 2

In [89]:
# ifの条件文以外の条件: else
x = 1

if x > 3:
    print('case 1')
else:
    print('case 2')

case 2

In [90]:
x = 1

if x > 3:
    print('case 1')
    else:
        print('case 2')
    
# インデントがずれているためエラーが起きている
# ifとelseはインデントを揃える

SyntaxError: invalid syntax (<ipython-input-90-7e4aff932df6>, line 5)

## elif文

In [91]:
# 条件分岐を複数分ける: elif
def compare_to_five(y):
    if y > 5:
        return('greater')
    elif y < 5:
        return('Less')
    else:
        return('equal')

In [92]:
print(compare_to_five(10))

greater

In [93]:
print(compare_to_five(2))

Less

In [94]:
print(compare_to_five(5))

equal

In [95]:
def compare_to_five(y):
    if y > 5:
        return('greater')
    elif y < 5:
        return('Less')
    elif y < 0:
        return('negative')
    else:
        return('equal')

In [96]:
print(compare_to_five(4))

Less

In [97]:
print(compare_to_five(-5))

Less

In [98]:
def compare_to_five(y):
    if y > 5:
        return('greater')
    elif y < 0:
        return('negative')
    elif y < 5:
        return('Less')
    else:
        return('equal')

In [100]:
# 条件分岐の順番を変えるだけで結果が異なってしまう
print(compare_to_five(-5))

negative

## ブール値に関する注記

In [101]:
x = 2

if x > 4:
    print('Correct')
else:
    print('Incorrect')

Incorrect

# Python: 関数

## 関数の定義

In [102]:
# 自作の関数を定義して、処理を格納する: def 関数名()
def simple():
    print('my first function')

In [104]:
# 関数を使用するには
simple()

my first function

## 関数の作成方法

In [105]:
# 関数に引数を設定することで、内部の処理にその引数を渡して処理することができる
def plus_ten(a):
    return a + 10

In [107]:
plus_ten(2)

12

In [110]:
plus_ten(5)

15

In [114]:
def plus_ten(a):
    result = a + 10

In [115]:
# 関数内にreturn, printなどの出力文がないのでなにも出力されない
plus_ten(2)

In [116]:
def plus_ten(a):
    result = a + 10
    print('outcome')
    return result

In [118]:
plus_ten(2)

outcome

12

## 関数内関数

In [119]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [120]:
wage(10)

250

In [122]:
with_bonus(10)

300

## 条件分と関数

In [123]:
def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return 'save more!'

In [124]:
add_10(110)

120

In [125]:
add_10(10)

'save more!'

## 関数と引数

In [126]:
def subtract_bc(a, b, c):
    result = a - b * c
    print('Parameter a equals', a)
    print('Parameter a equals', b)
    print('Parameter a equals', c)
    return result

In [127]:
subtract_bc(10, 3, 2)

Parameter a equals 10
Parameter a equals 3
Parameter a equals 2

4

In [128]:
# よりわかりやすく引数に数値を渡す方法
subtract_bc(b=3, a=10, c=2)

Parameter a equals 10
Parameter a equals 3
Parameter a equals 2

4

## 組み込み関数

In [129]:
type(10)

int

In [130]:
int(5.0)

5

In [131]:
max(10, 20, 30)

30

In [132]:
min(10, 20, 30)

10

In [133]:
z = -20
abs(z)

20

In [134]:
list1 = [1, 2, 3, 4]

In [135]:
sum(list1)

10

In [136]:
round(3.555, 2) # 小数点以下2位を四捨五入する

3.56

In [138]:
2 ** 10

1024

In [140]:
pow(2, 10) # 2を10乗する

1024

In [141]:
len('Mathematics') # 文字数

11

# Python: シーケンス型

## リスト型

In [142]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']

In [143]:
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [144]:
Participants[1] # Pythonではインデックスが0から始まるので1はLeilaになる

'Leila'

In [146]:
print(Participants[0])

John

In [147]:
Participants[-2] # 後ろから2番

'Gregory'

In [148]:
Participants[3] = 'Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [149]:
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [151]:
Participants[2]

'Maria'

## メソッドの使い方

In [152]:
Participants.append('Dwayne')
Participants

['John', 'Leila', 'Maria', 'Dwayne']

In [153]:
Participants.extend(['George', 'Catherine'])
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [155]:
print('The first participants is ' + Participants[0] + '.')

The first participants is John.

In [156]:
# 文字数を表示するには
len('Dolphin')

7

In [158]:
# 要素の数を表示するにもlenを使う
len(Participants)

6

## リストのスライス

In [173]:
Participants = ['John', 'Leila', 'Maria', 'Dwayne', 'Gregory', 'Catherine']

In [174]:
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'Gregory', 'Catherine']

In [175]:
Participants[1:3] # 要素の順番0, 1, 2, 3番目の1から2番目を表示する

['Leila', 'Maria']

In [176]:
Participants[:2]

['John', 'Leila']

In [180]:
Participants[4:]

['Gregory', 'Catherine']

In [181]:
Participants[-2:]

['Gregory', 'Catherine']

In [182]:
Maria_ind = Participants.index('Maria')
Maria_ind

2

In [183]:
Newcomer = ['Joshua', 'Brittany']
Newcomer

['Joshua', 'Brittany']

In [184]:
Bigger_list = [Participants, Newcomer]
Bigger_list

[['John', 'Leila', 'Maria', 'Dwayne', 'Gregory', 'Catherine'],
 ['Joshua', 'Brittany']]

In [185]:
Participants.sort()
Participants

['Catherine', 'Dwayne', 'Gregory', 'John', 'Leila', 'Maria']

In [186]:
Participants.sort(reverse=True)
Participants

['Maria', 'Leila', 'John', 'Gregory', 'Dwayne', 'Catherine']

In [187]:
Numbers = [1, 2, 3, 4, 5]
Numbers.sort()
Numbers

[1, 2, 3, 4, 5]

In [188]:
Numbers.sort(reverse=True)
Numbers

[5, 4, 3, 2, 1]

## タプル

In [189]:
x = (40, 41, 42)

In [190]:
x

(40, 41, 42)

In [191]:
type(x)

tuple

In [192]:
y = 50, 51, 52

In [193]:
y

(50, 51, 52)

In [194]:
x[0]

40

In [195]:
# タプルは一度作成すると、あとで変更できない
x[0] = 30

TypeError: 'tuple' object does not support item assignment

In [196]:
List = [x, y]

In [197]:
List

[(40, 41, 42), (50, 51, 52)]

In [200]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print('Area and Perimanter:')
    return A, P

square_info(3)

Area and Perimanter:

(9, 12)

## 辞書

In [201]:
# 辞書型とは、キーとバリューのペアで格納されているデータ
dict = {'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [202]:
# k1というキーを呼び出すと、catを出力できる
dict['k1']

'cat'

In [203]:
dict['k3']

'mouse'

In [204]:
# dict内にk5キーを定義して、Parrotを格納する
dict['k5'] = 'Parrot'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'Parrot'}

In [205]:
# dict内のk2キー内のデータをsquirrelに変更する
dict['k2'] = 'squirrel'
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'Parrot'}

In [206]:
# 辞書内にバリューには、リストを格納できる
dep_workers = {'dep1:': 'Peter', 'dep2': ['Jennifer', 'Michel', 'Tommy']}
dep_workers

{'dep1:': 'Peter', 'dep2': ['Jennifer', 'Michel', 'Tommy']}

In [207]:
dep_workers['dep2']

['Jennifer', 'Michel', 'Tommy']

In [208]:
Team = {}
Team['Point Guard'] = 'Dirk'
Team['Shooting Guard'] = 'AI'
Team

{'Point Guard': 'Dirk', 'Shooting Guard': 'AI'}

In [210]:
print(Team['Point Guard'])

Dirk

In [211]:
# get()メソッドでデータを取り出せる
print(Team.get('Shooting Guard'))

AI

In [212]:
# get()メソッドではエラーが出ない
print(Team.get('Center'))

None

# Python: イテレーション

## for文

In [215]:
even = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [216]:
for n in even:
    print(n)

0
2
4
6
8
10
12
14
16
18
20

In [217]:
for n in even:
    print(n, end=' ') # print関数の引数、endを用いることで区切りに用いる文字を指定できる

02468101214161820

## while文

In [218]:
x = 0
while x <= 20:          # xが20以下の間は、以下の処理を繰り返す
    print(x, end=' ')
    x = x + 2           # これがないと無限に処理が続いてしまう

0 2 4 6 8 10 12 14 16 18 20

In [219]:
# x = x + 2 の別の書き方
x = 0
while x <= 20:
    print(x, end=' ')
    x += 2

0 2 4 6 8 10 12 14 16 18 20

## range()とリスト

In [220]:
n = [1, 2, 3, 4, 5]

In [221]:
range(1, 2, 3) # range(始点, 終点, 間隔)

range(1, 2, 3)

In [222]:
range(10)

range(0, 10)

In [223]:
range(3, 7)

range(3, 7)

In [224]:
range(1, 20, 2)

range(1, 20, 2)

## 条件分とループ

In [226]:
for n in range(10):
    print(2 ** n)

1
2
4
8
16
32
64
128
256
512

In [227]:
for x in range(20):
    if x % 2 == 0:
        print(x, end=' ')
    else:
        print('Odd', end=' ')

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [228]:
x = [0, 1, 2]

In [229]:
for item in x:
    print(item, end=' ')

0 1 2

In [230]:
for item in range(len(x)):
    print(x[item], end=' ')

0 1 2

## 条件分、関数とループ

In [237]:
def count(number):
    total = 0
    for x in number:
        if x > 20:
            total += 1
    return total

In [238]:
list_1 = [1, 3, 7, 15, 23, 43, 56, 98]

In [239]:
count(list_1)

4

In [240]:
list_2 = [1, 3, 7, 15, 23, 43, 56, 98, 17]

In [241]:
count(list_2)

4

## 辞書型における繰り返し

In [242]:
prices = {
    'box_of_spaghetti': 4,
    'lasagna': 5,
    'hamburger': 2
}
    
quantity = {
    'box_of_spaghetti': 6,
    'lasagna': 10,
    'hamburger': 0
}

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i]*quantity[i])

print(money_spent)

74